<div id="index_main" class="col-xs-12 col-md-12 padding-0 padding-bottom-60" style="background-color:rgb(249,249,249)">
  <div id="index_sidepanel" class="col-md-3 col-sm-5 col-xs-12 padding-left-60 margin-top-30">
    <div class="col-xs-12 col-md-12 padding-0">
      <h4 class="color-text-black font-weight-600 padding-bottom-15">Upcoming Services</h4>
      <div class="col-xs-11 col-md-12 padding-left-20 padding-right-0 color-bg-white div-white-box-shadow">
        <div class="col-xs-12 col-md-12 padding-0 padding-top-20 padding-bottom-20" style="position:relative; border-bottom: 1px solid #e9e9e9;">
          <div class="col-md-10 col-xs-12 padding-0">
            <p class="font-em-11 margin-bottom-3 color-text-black">Dog walk for Johny</p>
            <p class="font-em-09 margin-bottom-5 color-blue">Tonight 10pm - 10:30pm</p>
            <p class="font-em-09 margin-bottom-0 color-mediumgray">
              <span class="glyphicon glyphicon-map-marker padding-right-3"></span>
              Ban Jose, CA 22km
            </p>
          </div>
          <i class="fa fa-angle-right fa-2x color-mediumgray" style="position:absolute; right:25px; top:25%;"></i>
        </div>
        <div class="col-xs-12 col-md-12 padding-0 padding-top-20 padding-bottom-20" style="position:relative; border-bottom: 1px solid #e9e9e9;">
          <div class="col-md-10 col-xs-12 padding-0">
            <p class="font-em-11 margin-bottom-3 color-text-black">Dog walk for Johny</p>
            <p class="font-em-09 margin-bottom-5 color-blue">Tonight 10pm - 10:30pm</p>
            <p class="font-em-09 margin-bottom-0 color-mediumgray">
              <span class="glyphicon glyphicon-map-marker padding-right-3"></span>
              Ban Jose, CA 22km
            </p>
          </div>
          <i class="fa fa-angle-right fa-2x color-mediumgray" style="position:absolute; right:25px; top:25%;"></i>
        </div>
        <div class="col-xs-12 col-md-12 padding-0 padding-top-20 padding-bottom-20" style="position:relative; border-bottom: 1px solid #e9e9e9;">
          <div class="col-md-10 col-xs-12 padding-0">
            <p class="font-em-11 margin-bottom-3 color-text-black">Dog walk for Johny</p>
            <p class="font-em-09 margin-bottom-5 color-blue">Tonight 10pm - 10:30pm</p>
            <p class="font-em-09 margin-bottom-0 color-mediumgray">
              <span class="glyphicon glyphicon-map-marker padding-right-3"></span>
              Ban Jose, CA 22km
            </p>
          </div>
          <i class="fa fa-angle-right fa-2x color-mediumgray" style="position:absolute; right:25px; top:25%;"></i>
        </div>
        <div class="col-xs-12 col-md-12 padding-0 padding-top-6 padding-bottom-6">
          <p class="margin-bottom-2">View more</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-12 padding-0 margin-top-20">
      <h4 class="color-text-black font-weight-600 padding-bottom-15">My Dashboard</h4>
      <div class="col-xs-11 col-md-12 padding-left-20 padding-right-0 color-bg-white div-white-box-shadow padding-top-25 padding-bottom-25">
        <div class="col-xs-12 col-md-12 padding-0">
          <div class="col-md-2 col-xs-3 padding-0">
            <p class="dashboard_sub_left">10</p>
          </div>
          <div class="col-md-10 col-xs-9">
            <p class="margin-top-2">Orders this week</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-12 padding-0">
          <div class="col-md-2 col-xs-3 padding-0">
            <p class="dashboard_sub_left">55</p>
          </div>
          <div class="col-md-10 col-xs-9">
            <p class="margin-top-2">Offers Sent this week</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-12 padding-0">
          <div class="col-md-2 col-xs-3 padding-0">
            <p class="dashboard_sub_left">8</p>
          </div>
          <div class="col-md-10 col-xs-9">
            <p class="margin-top-2">Jobs Suggested</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-12 padding-0">
          <div class="col-md-2 col-xs-3 padding-0">
            <p class="dashboard_sub_left">$500</p>
          </div>
          <div class="col-md-10 col-xs-9">
            <p class="margin-top-2">Sales this month</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="index_contentarea" class="col-md-9 col-sm-7 col-xs-11 margin-top-30">
    <ul id="submenu-ul" class="margin-bottom-15 padding-0 padding-left-15">
      <li class="btn_submenu_li" style="margin-left:0px !important;" onclick="btn_submenu_clicked_f(this);"><a href="#" class="btn_submenu btn_submenu_clicked">Services</a></li>
      <li class="btn_submenu_li" onclick="btn_submenu_clicked_f(this);"><a href="#" class="btn_submenu">Live offers</a></li>
      <li class="btn_submenu_li" onclick="btn_submenu_clicked_f(this);"><a href="#" class="btn_submenu">Jobs</a></li>
    </ul>
    <div class="services col-xs-12 col-md-12 padding-0" id="content_area">
      <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-40 sub_div_wrapper">
        <div class="col-md-12 col-xs-12 padding-0 sub_div div-white-box-shadow div-white-box-shadow">
          <div class="col-md-12 col-xs-12 sub_div_image" style="background-image: url(assets/images/services/1.png);"></div>
          <div class="col-md-12 col-xs-12 padding-top-10">
            <h4>Dog Walking  for hourly rate</h4>
            <p class="font-em-09 margin-bottom-5">
              $50
              <span class="color-blue" style="text-decoration: line-through;">$100</span> 
              for 1 hour
            </p>
            <p class="font-em-09 color-mediumgray">
              <span class="glyphicon glyphicon-map-marker"></span>
              San Jose, CA, 22 km
            </p>
          </div>
          <div class="col-xs-12 col-md-12 sub_div_description">
            <div class="col-md-4 col-xs-4 padding-0 text-left">
              <img src="assets/images/p.png" alt="">
              <p class="color-mediumgray" style="font-size:12px;">234</p>
            </div>
            <div class="col-md-4 col-xs-4 padding-0 text-center">
              <img src="assets/images/icons/brief2.png" style="vertical-align:text-bottom;" alt="">
              <p class="color-mediumgray" style="font-size:12px;">23</p>
            </div>
            <div class="col-md-4 col-xs-4 padding-0 text-right">
              <i class="fa fa-star color-mediumgray"></i>
              <p class="color-mediumgray" style="font-size:12px;">96%</p>
            </div>
          </div>
          <div id="service_detail_link" onclick="btn_menu_f(this)" class="cursor-pointer col-xs-12 col-md-12 padding-top-6 sub_div_footer" style="border-top:1px solid #e9e9e9;">
            <img src="assets/images/services/1.png" alt="img" style="border-radius:50%; width:24px; height:24px; margin-right:2px;">
            <p class="color-mediumgray font-em-09">Daisy Williams</p>
            <p class="p2 color-blue font-weight-600 pull-right margin-top-4" style="font-size:12px;">Promoted</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-40 sub_div_wrapper">
        <div class="col-md-12 col-xs-12 padding-0 sub_div div-white-box-shadow">
          <div class="col-md-12 col-xs-12 sub_div_image" style="background-image: url(assets/images/services/2.png);"></div>
          <div class="col-md-12 col-xs-12 padding-top-10">
            <h4>Dog Walking  for hourly rate</h4>
            <p class="font-em-09 margin-bottom-5">
              $50
              <span class="color-blue" style="text-decoration: line-through;">$100</span> 
              for 1 hour
            </p>
            <p class="font-em-09 color-mediumgray">
              <span class="glyphicon glyphicon-map-marker"></span>
              San Jose, CA, 22 km
            </p>
          </div>
          <div class="col-xs-12 col-md-12 sub_div_description">
            <div class="col-md-4 col-xs-4 padding-0 text-left">
              <img src="assets/images/p.png" alt="">
              <p class="color-mediumgray" style="font-size:12px;">234</p>
            </div>
            <div class="col-md-4 col-xs-4 padding-0 text-center">
              <img src="assets/images/icons/brief2.png" style="vertical-align:text-bottom;" alt="">
              <p class="color-mediumgray" style="font-size:12px;">23</p>
            </div>
            <div class="col-md-4 col-xs-4 padding-0 text-right">
              <i class="fa fa-star color-mediumgray"></i>
              <p class="color-mediumgray" style="font-size:12px;">96%</p>
            </div>
          </div>
          <div id="service_detail_link" onclick="btn_menu_f(this)" class="col-xs-12 col-md-12 padding-top-6 sub_div_footer" style="border-top:1px solid #e9e9e9;">
            <img src="assets/images/services/1.png" alt="img" style="border-radius:50%; width:24px; height:24px; margin-right:2px;">
            <p class="color-mediumgray font-em-09">Daisy Williams</p>
            <p class="p2 color-blue font-weight-600 pull-right margin-top-4" style="font-size:12px;">Promoted</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-40 sub_div_wrapper">
        <div class="col-md-12 col-xs-12 padding-0 sub_div div-white-box-shadow">
          <div class="col-md-12 col-xs-12 sub_div_image" style="background-image: url(assets/images/services/3.png);"></div>
          <div class="col-md-12 col-xs-12 padding-top-10">
            <h4>Dog Walking  for hourly rate</h4>
            <p class="font-em-09 margin-bottom-5">
              $50
              <span class="color-blue" style="text-decoration: line-through;">$100</span> 
              for 1 hour
            </p>
            <p class="font-em-09 color-mediumgray">
              <span class="glyphicon glyphicon-map-marker"></span>
              San Jose, CA, 22 km
            </p>
          </div>
          <div class="col-xs-12 col-md-12 sub_div_description">
            <div class="col-md-4 col-xs-4 padding-0 text-left">
              <img src="assets/images/p.png" alt="">
              <p class="color-mediumgray" style="font-size:12px;">234</p>
            </div>
            <div class="col-md-4 col-xs-4 padding-0 text-center">
              <img src="assets/images/icons/brief2.png" style="vertical-align:text-bottom;" alt="">
              <p class="color-mediumgray" style="font-size:12px;">23</p>
            </div>
            <div class="col-md-4 col-xs-4 padding-0 text-right">
              <i class="fa fa-star color-mediumgray"></i>
              <p class="color-mediumgray" style="font-size:12px;">96%</p>
            </div>
          </div>
          <div id="service_detail_link" onclick="btn_menu_f(this)" class="col-xs-12 col-md-12 padding-top-6 sub_div_footer" style="border-top:1px solid #e9e9e9;">
            <img src="assets/images/services/1.png" alt="img" style="border-radius:50%; width:24px; height:24px; margin-right:2px;">
            <p class="color-mediumgray font-em-09">Daisy Williams</p>
            <p class="p2 color-blue font-weight-600 pull-right margin-top-4" style="font-size:12px;">Promoted</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-40 sub_div_wrapper">
        <div class="col-md-12 col-xs-12 padding-0 sub_div div-white-box-shadow">
          <div class="col-md-12 col-xs-12 sub_div_image" style="background-image: url(assets/images/services/4.png);"></div>
          <div class="col-md-12 col-xs-12 padding-top-10">
            <h4>Dog Walking  for hourly rate</h4>
            <p class="font-em-09 margin-bottom-5">
              $50
              <span class="color-blue" style="text-decoration: line-through;">$100</span> 
              for 1 hour
            </p>
            <p class="font-em-09 color-mediumgray">
              <span class="glyphicon glyphicon-map-marker"></span>
              San Jose, CA, 22 km
            </p>
          </div>
          <div class="col-xs-12 col-md-12 sub_div_description">
            <div class="col-md-4 col-xs-4 padding-0 text-left">
              <img src="assets/images/p.png" alt="">
              <p class="color-mediumgray" style="font-size:12px;">234</p>
            </div>
            <div class="col-md-4 col-xs-4 padding-0 text-center">
              <img src="assets/images/icons/brief2.png" style="vertical-align:text-bottom;" alt="">
              <p class="color-mediumgray" style="font-size:12px;">23</p>
            </div>
            <div class="col-md-4 col-xs-4 padding-0 text-right">
              <i class="fa fa-star color-mediumgray"></i>
              <p class="color-mediumgray" style="font-size:12px;">96%</p>
            </div>
          </div>
          <div id="service_detail_link" onclick="btn_menu_f(this)" class="col-xs-12 col-md-12 padding-top-6 sub_div_footer" style="border-top:1px solid #e9e9e9;">
            <img src="assets/images/services/1.png" alt="img" style="border-radius:50%; width:24px; height:24px; margin-right:2px;">
            <p class="color-mediumgray font-em-09">Daisy Williams</p>
            <p class="p2 color-blue font-weight-600 pull-right margin-top-4" style="font-size:12px;">Promoted</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-40 sub_div_wrapper">
        <div class="col-md-12 col-xs-12 padding-0 sub_div div-white-box-shadow">
          <div class="col-md-12 col-xs-12 sub_div_image" style="background-image: url(assets/images/services/5.png);"></div>
          <div class="col-md-12 col-xs-12 padding-top-10">
            <h4>Dog Walking  for hourly rate</h4>
            <p class="font-em-09 margin-bottom-5">
              $50
              <span class="color-blue" style="text-decoration: line-through;">$100</span> 
              for 1 hour
            </p>
            <p class="font-em-09 color-mediumgray">
              <span class="glyphicon glyphicon-map-marker"></span>
              San Jose, CA, 22 km
            </p>
          </div>
          <div class="col-xs-12 col-md-12 sub_div_description">
            <div class="col-md-4 col-xs-4 padding-0 text-left">
              <img src="assets/images/p.png" alt="">
              <p class="color-mediumgray" style="font-size:12px;">234</p>
            </div>
            <div class="col-md-4 col-xs-4 padding-0 text-center">
              <img src="assets/images/icons/brief2.png" style="vertical-align:text-bottom;" alt="">
              <p class="color-mediumgray" style="font-size:12px;">23</p>
            </div>
            <div class="col-md-4 col-xs-4 padding-0 text-right">
              <i class="fa fa-star color-mediumgray"></i>
              <p class="color-mediumgray" style="font-size:12px;">96%</p>
            </div>
          </div>
          <div id="service_detail_link" onclick="btn_menu_f(this)" class="col-xs-12 col-md-12 padding-top-6 sub_div_footer" style="border-top:1px solid #e9e9e9;">
            <img src="assets/images/services/1.png" alt="img" style="border-radius:50%; width:24px; height:24px; margin-right:2px;">
            <p class="color-mediumgray font-em-09">Daisy Williams</p>
            <p class="p2 color-blue font-weight-600 pull-right margin-top-4" style="font-size:12px;">Promoted</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-40 sub_div_wrapper">
        <div class="col-md-12 col-xs-12 padding-0 sub_div div-white-box-shadow">
          <div class="col-md-12 col-xs-12 sub_div_image" style="background-image: url(assets/images/services/6.png);"></div>
          <div class="col-md-12 col-xs-12 padding-top-10">
            <h4>Dog Walking  for hourly rate</h4>
            <p class="font-em-09 margin-bottom-5">
              $50
              <span class="color-blue" style="text-decoration: line-through;">$100</span> 
              for 1 hour
            </p>
            <p class="font-em-09 color-mediumgray">
              <span class="glyphicon glyphicon-map-marker"></span>
              San Jose, CA, 22 km
            </p>
          </div>
          <div class="col-xs-12 col-md-12 sub_div_description">
            <div class="col-md-4 col-xs-4 padding-0 text-left">
              <img src="assets/images/p.png" alt="">
              <p class="color-mediumgray" style="font-size:12px;">234</p>
            </div>
            <div class="col-md-4 col-xs-4 padding-0 text-center">
              <img src="assets/images/icons/brief2.png" style="vertical-align:text-bottom;" alt="">
              <p class="color-mediumgray" style="font-size:12px;">23</p>
            </div>
            <div class="col-md-4 col-xs-4 padding-0 text-right">
              <i class="fa fa-star color-mediumgray"></i>
              <p class="color-mediumgray" style="font-size:12px;">96%</p>
            </div>
          </div>
          <div id="service_detail_link" onclick="btn_menu_f(this)" class="col-xs-12 col-md-12 padding-top-6 sub_div_footer" style="border-top:1px solid #e9e9e9;">
            <img src="assets/images/services/1.png" alt="img" style="border-radius:50%; width:24px; height:24px; margin-right:2px;">
            <p class="color-mediumgray font-em-09">Daisy Williams</p>
            <p class="p2 color-blue font-weight-600 pull-right margin-top-4" style="font-size:12px;">Promoted</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-40 sub_div_wrapper">
        <div class="col-md-12 col-xs-12 padding-0 sub_div div-white-box-shadow">
          <div class="col-md-12 col-xs-12 sub_div_image" style="background-image: url(assets/images/services/7.png);"></div>
          <div class="col-md-12 col-xs-12 padding-top-10">
            <h4>Dog Walking  for hourly rate</h4>
            <p class="font-em-09 margin-bottom-5">
              $50
              <span class="color-blue" style="text-decoration: line-through;">$100</span> 
              for 1 hour
            </p>
            <p class="font-em-09 color-mediumgray">
              <span class="glyphicon glyphicon-map-marker"></span>
              San Jose, CA, 22 km
            </p>
          </div>
          <div class="col-xs-12 col-md-12 sub_div_description">
            <div class="col-md-4 col-xs-4 padding-0 text-left">
              <img src="assets/images/p.png" alt="">
              <p class="color-mediumgray" style="font-size:12px;">234</p>
            </div>
            <div class="col-md-4 col-xs-4 padding-0 text-center">
              <img src="assets/images/icons/brief2.png" style="vertical-align:text-bottom;" alt="">
              <p class="color-mediumgray" style="font-size:12px;">23</p>
            </div>
            <div class="col-md-4 col-xs-4 padding-0 text-right">
              <i class="fa fa-star color-mediumgray"></i>
              <p class="color-mediumgray" style="font-size:12px;">96%</p>
            </div>
          </div>
          <div id="service_detail_link" onclick="btn_menu_f(this)" class="col-xs-12 col-md-12 padding-top-6 sub_div_footer" style="border-top:1px solid #e9e9e9;">
            <img src="assets/images/services/1.png" alt="img" style="border-radius:50%; width:24px; height:24px; margin-right:2px;">
            <p class="color-mediumgray font-em-09">Daisy Williams</p>
            <p class="p2 color-blue font-weight-600 pull-right margin-top-4" style="font-size:12px;">Promoted</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-40 sub_div_wrapper">
        <div class="col-md-12 col-xs-12 padding-0 sub_div div-white-box-shadow">
          <div class="col-md-12 col-xs-12 sub_div_image" style="background-image: url(assets/images/services/8.png);"></div>
          <div class="col-md-12 col-xs-12 padding-top-10">
            <h4>Dog Walking  for hourly rate</h4>
            <p class="font-em-09 margin-bottom-5">
              $50
              <span class="color-blue" style="text-decoration: line-through;">$100</span> 
              for 1 hour
            </p>
            <p class="font-em-09 color-mediumgray">
              <span class="glyphicon glyphicon-map-marker"></span>
              San Jose, CA, 22 km
            </p>
          </div>
          <div class="col-xs-12 col-md-12 sub_div_description">
            <div class="col-md-4 col-xs-4 padding-0 text-left">
              <img src="assets/images/p.png" alt="">
              <p class="color-mediumgray" style="font-size:12px;">234</p>
            </div>
            <div class="col-md-4 col-xs-4 padding-0 text-center">
              <img src="assets/images/icons/brief2.png" style="vertical-align:text-bottom;" alt="">
              <p class="color-mediumgray" style="font-size:12px;">23</p>
            </div>
            <div class="col-md-4 col-xs-4 padding-0 text-right">
              <i class="fa fa-star color-mediumgray"></i>
              <p class="color-mediumgray" style="font-size:12px;">96%</p>
            </div>
          </div>
          <div id="service_detail_link" onclick="btn_menu_f(this)" class="col-xs-12 col-md-12 padding-top-6 sub_div_footer" style="border-top:1px solid #e9e9e9;">
            <img src="assets/images/services/1.png" alt="img" style="border-radius:50%; width:24px; height:24px; margin-right:2px;">
            <p class="color-mediumgray font-em-09">Daisy Williams</p>
            <p class="p2 color-blue font-weight-600 pull-right margin-top-4" style="font-size:12px;">Promoted</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-40 sub_div_wrapper">
        <div class="col-md-12 col-xs-12 padding-0 sub_div div-white-box-shadow">
          <div class="col-md-12 col-xs-12 sub_div_image" style="background-image: url(assets/images/services/9.png);"></div>
          <div class="col-md-12 col-xs-12 padding-top-10">
            <h4>Dog Walking  for hourly rate</h4>
            <p class="font-em-09 margin-bottom-5">
              $50
              <span class="color-blue" style="text-decoration: line-through;">$100</span> 
              for 1 hour
            </p>
            <p class="font-em-09 color-mediumgray">
              <span class="glyphicon glyphicon-map-marker"></span>
              San Jose, CA, 22 km
            </p>
          </div>
          <div class="col-xs-12 col-md-12 sub_div_description">
            <div class="col-md-4 col-xs-4 padding-0 text-left">
              <img src="assets/images/p.png" alt="">
              <p class="color-mediumgray" style="font-size:12px;">234</p>
            </div>
            <div class="col-md-4 col-xs-4 padding-0 text-center">
              <img src="assets/images/icons/brief2.png" style="vertical-align:text-bottom;" alt="">
              <p class="color-mediumgray" style="font-size:12px;">23</p>
            </div>
            <div class="col-md-4 col-xs-4 padding-0 text-right">
              <i class="fa fa-star color-mediumgray"></i>
              <p class="color-mediumgray" style="font-size:12px;">96%</p>
            </div>
          </div>
          <div id="service_detail_link" onclick="btn_menu_f(this)" class="col-xs-12 col-md-12 padding-top-6 sub_div_footer" style="border-top:1px solid #e9e9e9;">
            <img src="assets/images/services/1.png" alt="img" style="border-radius:50%; width:24px; height:24px; margin-right:2px;">
            <p class="color-mediumgray font-em-09">Daisy Williams</p>
            <p class="p2 color-blue font-weight-600 pull-right margin-top-4" style="font-size:12px;">Promoted</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
